<!DOCTYPE html>
<html th:lang="en" xmlns:th="http://www.thymeleaf.org" data-bs-theme="dark">
<head>
    <title>E-Banking Login</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
<h1>E-Banking Login</h1>
<hr>
<form action="/selectAccount" method="post">
    <label for="accountId">Account ID:</label>
    <input type="number" id="accountId" name="accountId" required>
    <br>
    <label for="pin">PIN:</label>
    <input type="number" id="pin" name="pin" required>
    <br>
    <button type="submit" class="styled-button">Login</button>
</form>
<br>
<form action="/createAccountPage" method="get">
    <button type="submit" class="styled-button2" style="
    background-color: #FF7F50;
    color: white;
    border: none;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
">Create Account</button>
</form>
<p th:text="${error}"></p>
</body>
</html>
